body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ecf3fc;
}

.container {
  max-width: 1000px; 
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}


.App-header {
  text-align: center;
  margin-top: 0px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; 
}

.search-bar input {
  width: 100%; 
  max-width: 500px; 
  padding: 12px; 
  border-radius: 20px;
  border: 1px solid #ccc;
  padding-left: 30px;
}


.sort-options {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}


.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
  width: calc(30% - 20px); 
  margin: 10px 0;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: transform 0.3s;
  background-color: white;
}

.card:hover {
  transform: scale(1.05); 
}

.card img {
  width: 80%; 
  max-height: 200px; 
  object-fit: cover;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 20px; 
  text-align: center;
  margin-bottom: 10px;
}

.card .bottom-info {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating {
  font-size: 14px;
  color: #999;
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}


.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 20px 0; 
}

.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
}

.page-link:hover {
  background-color: #f0f0f0;
}

.page-item.active .page-link {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}


.message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; 
  font-size: 24px; 
  font-weight: bold; 
}


.load-more {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.load-more button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #1e87f8;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.load-more button:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .card {
    width: calc(100% - 20px); 
  }
}
